body {
	background: red;
}

#header {
	width: 100%;
	height: 20%;
	background: yellow;
}

#navigation {
	width: 100%;
	height: 10%;
	background: blue;
}

#content {
	width: 100%;
	height: 70;
	background: green;
}